@import './variabels';
@import './Navbar';
@import './GeneralForm.scss';
@import './Login.scss';
@import './DetailArtikel';
@import './Anggota';
@import './DetailAnggota';
@import './Pemulihan.scss';
@import './Karya.scss';
@import './Kegiatan.scss';
@import './Sidenav.scss';
@import './Upload.scss';

html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

.inr-logo{  
  width: 55px;
  height: 46px;
}

.wrapper{
  width: 100%;
}

.kiri{
  float: left;
  margin-bottom: 21px;
}

.bg-grey{
  background-color: $bgGrey;
}

.bg-grey-second{
  background-color: $bgGreySecond;
}

.bg-yellow{
  background-color: #FCD340;
}

.main-body{
  width: 100%;
  height: 100%;
}

.alert-icon{
  width: 24px;
  height: 24px;
}

.absolute-logo{
  position: absolute;
  margin: 45px 0px 0px 43px;
}

.bg-img{
  max-width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.contain-img{
  position: relative;
  min-height: 100vh;
}

.link-card{
  &:hover{
    text-decoration: none;
  }
}

.link-nav-active{
  color: #fcc840 !important;
  text-decoration: none;
  font-weight: bold;
}

.text-black{
  color: black;
  text-decoration: none;
}

.text-lil-white{
  color: $bgGreySecond;
}

.text-yellow{
  color: $textYellow;
}

.text-grey{
  color: $greyText;
}

.text-grey-2{
  color: #bbbbbb;
}

img{
  width: 100%;
  height: 400px;
}

.card{
  width: 354px;
}

.card-img-top{
  height: 291px;
}

.image-shape{
  height: 300px;
  margin-bottom: 60px;
}

.icon-size{
  height: 24px;
  width: 24px;
}

.next-page{
  border: 1px solid black;
  border-radius: 30px;
  padding: 4px 61px;
  width: 20%;
  :hover{
    color: black !important;
    text-decoration: none !important;
  }
}

.footer-wrapper{
  margin-top: 80px;
  background: #33333F;
}

@media (max-width: 768px) {
  .contain-img{
    display: none;
  }

  .login-card{
    width: 90%;
    padding: 20px;
  }

  .link-card{
    width: 80%;
  }
}