.detail-anggota{
  
  .photo-profile{
    margin-top: 60px;
    width: 202px;
    height: 202px;
  }
  h3{
    font-weight: bold;
  }
  p{
    color: white;
    font-weight: bold;
  }
}
  hr{
    width: 140px;
    border: 1px solid $textYellow;
  }
  .card-portfolio{
    border: none;
    img{
      height: 210px;
    } 
    .desc-portfolio{
      padding: 10px;
      h4{
        font-weight: bold;
      }
      p{
        color: $greyText;
        font-weight: bold;
      }
      .icon-share{
        width: 24px;
        height: 24px;
      }
    }
}

