.detail-anggota{
  .bg-detail-anggota{
    width: 100%;
    height: 20%;
    left: 0px;
    top: 0px;
    padding-top: 87px;
    padding-bottom: 32px;
    margin-bottom: 40px;
    background: linear-gradient(110.09deg, #FCC840 64.2%, #FFA800 107.35%);
    .photo-profile{
      width: 202px;
      height: 202px;
    }
    h3{
      font-weight: bold;
    }
    p{
      color: white;
      font-weight: bold;
    }
  }
  hr{
    width: 140px;
    border: 1px solid $textYellow;
  }
  .card-portfolio{
    border: none;
    img{
      height: 210px;
    } 
    .desc-portfolio{
      padding: 10px;
      h4{
        font-weight: bold;
      }
      p{
        color: $greyText;
        font-weight: bold;
      }
      .icon-share{
        width: 24px;
        height: 24px;
      }
    }
  }
}

