.nav-colored{
  background-color: #FCC840;
}

.navbar-default{
  background-color: transparent;
}

.nav-link{
  font-weight: bold;
  color: white !important;
}

.nav-link-yellow{
  width: 100px;
  left: 47px;
  border: 1px solid $textYellow;
  border-radius: 20px;
  font-weight: lighter;
  color: $textYellow !important;
}

.nav-daftar{
  margin-left: 20px;
  font-weight: lighter;
  width: 100px;
  border-radius: 20px;
}

.search-wrapper{
  input{
    background-color: transparent;
    border: none;
  }
}

.search-icon{
  width: 24px;
  height: 24px;
}

.search-form{
  position: absolute;
  width: 500px;
  height: 46px;
  left: 1103px;
  top: 12px;
  padding-left: 12px; 

  background: rgba(250, 250, 250, 0.5);
  /* FAFAFA */

  border: 1px solid #FAFAFA;
  box-sizing: border-box;
  border-radius: 25px;
}

.search-input{
  border: none;
  background-color: transparent;
  &:focus{
    box-shadow: none;
    background-color: transparent;
  }
}

.img-profile-dropdown{
  width: 45px;
  height: 45px;
}

.dropdown-profile{
  background-color: #4C4C5C;
  
    .dropdown-link{
      color: white;
      &:hover{
        background-color: #4C4C5C;
      }
    }
  
}

