
.form-edit-profile{
  width: 325px;
  margin-bottom: 16px;
}
  
.btn-edit{
  width: 147px;
  margin-bottom: 16px;
}

.btn-edit-right{
  margin-right: 31px;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}


.my-editor{
  height: 404px;
}