.sidenav{
  height: 100vh;
  background: #33333F;
  /* bleab */
 
  .icon-back-home{
    width: 27px;
    height: 18px;
    margin-left: 44px;
    margin-top: 39px;
  }
  

  .wrap-content{
    margin-top: 50px;
    .icon-inr{
      width: 54px;
      height: 46px;
      margin-bottom: 50px;
    }
  
    .img-profile{
      width: 94px;
      height: 94px;
      margin-bottom: 15px;
    }
  
    .wrap-sidenav-menu{
      .menu-profile{
        padding-left: 97px;
        .upload-link{
          font-weight: 800;
          font-size: 24px;
          line-height: 33px;
          float: left;
        }
        ul{
          list-style-type: none;
          li{
            margin-left: -40px;
            .text-lil-white{
              &:hover{
                color: $buttonYellow;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sidenav{
    position: absolute;
    height: auto;
  }
}